*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

#header{
    padding-top: 40px;
    text-align: center;
    font-size: 24px;
    color: rgb(97, 34, 34);
}

#opt-nav{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.btn{
    margin: 0px 4px 0px 3px;
    width: 80px;
    height: 30px;
    background-color: rgb(207, 131, 131);
    border:1px solid black;
}

.btn:hover{
    background-color: rgb(231, 184, 184);
}

.active-btn{
    background-color: rgb(155, 67, 67);
}

#content{
    padding-top: 20px;
    display:flex;
    justify-content: center;
}

#grid{
    display:flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
}

#footer{
    text-align: center;
}

#footer p{
    padding-top: 10px;
    color: rgb(97, 34, 34);
    font-size: large;
}

#footer a{
    display:block;
    padding-top: 20px;
}

a:visited{
    color: rgb(4, 4, 117);
}

a:hover{
    text-decoration: underline;
    color: rgb(147, 147, 253);
}

a{
    text-decoration: none;
    color: rgb(15, 15, 231);
}

#grid{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
}

.row{
    flex:1;
    display:flex;
}

.col{
    flex:1;
}

#new{
    background-color: rgb(184, 127, 86);
}

#new:hover{
    background-color: rgb(119, 70, 35);
}

#color{
    border:none;
    width: 30px;
}

#custom{
    display:flex;
    align-items: center;
    justify-content: center;
}